<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>4fennec</title>
  <meta content="" name="description">
  <meta content="" name="keywords">





  
    

    

  <!-- Favicons -->
  <link href="/img/fennec.webp" rel="icon">
  <link href="/img/fennec.webp" rel="apple-touch-icon">
  

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
 


  <link href="/css/roadmap.css" rel="stylesheet">

  <link href="/css/4FENNEC.css" rel="stylesheet">
 
  <link href="/css/feature.css" rel="stylesheet">
  
  <link href="/css/TOP3.css" rel="stylesheet">
  <link href="/css/HERO.css" rel="stylesheet">

  <link href="/css/benefits.css" rel="stylesheet">
  <link href="/css/team.css" rel="stylesheet">
   <link href="/css/Game.css" rel="stylesheet">
    <link href="/css/POK.css" rel="stylesheet">
     <link href="/css/FAQ.css" rel="stylesheet">

    


=

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.google.com/specimen/Alumni+Sans+Collegiate+One" rel="stylesheet">


</head>

<body >


 <div id="loading">
   <img id="loading-image" src="/img/dd.webp"> 
 </div>
 

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="index.html"><img src="/img/fennec.webp"></a></h1>
       
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="#coc">4FENNEC</a></li>
          <li><a class="active " href="#feature">FEATURES</a></li>
          <li><a class="active " href="pricing.html">WIN</a></li>
          <li><a class="active " href="#roadmap">ROADMAP</a></li>
          <li><a href="contact.html" class="active ">DISCORD</a></li>
          <li><a href="#ourteam" class="active ">TEAM</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>


    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->


  

  

  


  <%- include('hero2.ejs') %>



  <%- include('4fennec.ejs') %>
  <%- include('top3.ejs') %> 
  
   
  
 


<!--
<div class="container-fluid">
  <img src="../img/cute.png" alt="fennec2"  id="fennec2">
</div>
-->



<%- include('features.ejs') %>






<!--
  <section id="ONN">
   <div class="container">

   </div>
  </section>


<section id="secondd">

</section>
       
-->
  



  


  



  
  <main id="main">

    <!-- ======= Home Section ======= -->
    

  



    



    <%- include('roadmap.ejs') %>
     <%- include('join.ejs') %>


    <%- include('team.ejs') %>

    <%- include('Game.ejs') %>
   


   
    
    <%- include('faq.ejs') %>
   
 
  </main><!-- End #main -->

  
  

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo"   >
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>About 4fennec</h3>
          <p>fqpkmfokfzkfefleklekkefepf</p>
          <p class="social">
            <a href="#"><span class="bi bi-twitter"></span></a>
            <a href="#"><span class="bi bi-telegram"></span></a>
            <a href="#"><span class="bi bi-instagram"></span></a>
            <a href="#"><span class="bi bi-discord"></span></a>
          </p>
        </div>
        <div class="col-md-7 ms-auto">
          <div class="row site-section pt-0">
            
            
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Ddfdfdfs</h3>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; XXXXXXXXXXXXXX</p>
          <div class="credits">
           
            
          </div>
        </div>
      </div>

    </div>
  </footer>



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <a href="#" class="fix-discord d-flex align-items-center justify-content-center"><i class="bi bi-discord"></i></a>
  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--<script src="/vendor/swiper/swiper-bundle.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
  <!-- Template Main JS File -->
  
  <script src="/js/main.js"></script>
  
 
 
  

  <script src="/js/jquery.js"></script>
 

   

 

 
 


  <script src="/js/roadmap.js"></script>
  <script src="/js/FAQ.js"></script>
    
 <script src="/js/HERO.js"></script>





 
 <script src="/js/Game.js"></script>


 <script src="/js/POK.js"></script>






 
 
</body>

</html>
